body {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

#card-container {
    height: 400px;
    width: 400px;
    position: relative;
}

.card {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.blue {
    background-color: aqua;
}

.orange {
    background-color: orange;
}

.green {
    background-color: rgb(122, 255, 204);
}

.red {
    background-color: rgb(243, 131, 141);
}

.purple {
    background-color: rgb(178, 119, 255);
}

#dropdown-menu {
    width: 150px;
    height: 320px;
    position: relative;
}

.menu-option {
    position: absolute;
    width: 150px;
    height: 40px;
    vertical-align: middle;
}

.menu-option-text {
    position: relative;
    display: inline;
    font-weight: bold;
}

.menu-icon {
    position: relative;
    display: inline;
    top: 5px;
    margin: 0px 5px;
}

#products {
    position: relative;
    height: 100px;
    width: 600px;
}

.product {
    position: absolute;
    height: 100px;
    width: 100px;
}
