body {
    padding: 0px 0px;
}

.photos-border {
    border-style: solid;
    border-width: 1px;
    width: 1270px;
    border-color: rgb(201, 201, 201);
    transition-duration: 200ms;
}

/* .photos-border:hover {
    border-color:  rgb(201, 201, 201, 0);
} */

.photos {
    height: 300px;
    width: 1230px;
    margin: 40px 20px;
}

.photo-container {
    height: 300px;
    width: 400px;
}

img {
    height: inherit;
    width: inherit;
}