body {
    padding: 0px 0px;
}

.body-content-wide {
    width: 1270px;
    margin: auto
}

.flex-wide {
    display: flex;
    justify-content: space-between;
}

.code-snippet {
    flex-grow: 1;
    margin-left: 15px;
}

.photos-border {
    border-style: solid;
    border-width: 1px;
    width: 1270px;
    border-color: rgb(201, 201, 201);
    padding: 40px 20px;
}

.photos {
    height: 300px;
    width: 1230px;
}

.photo {
    height: 300px;
    width: 400px;
}

img {
    height: inherit;
    width: inherit;
}

.photos-border-diagonal {
    border-style: solid;
    border-width: 1px;
    width: 700px;
    border-color: rgb(201, 201, 201);
    padding: 40px 20px;
}

.photos-diagonal {
    height: 300px;
    width: 700px;
}

.photo {
    height: 300px;
    width: 400px;
}

#dropdown-menu {
    width: 150px;
    height: 320px;
}

.menu-option {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    padding-left: 6px;
    padding-top: 4px;
    transition: background-color 0.4s
}

.menu-option:hover {
    background-color: whitesmoke;
}

.menu-option-text {
    display: inline;
    font-weight: 600;
}

.menu-icon {
    position: relative;
    top: 6px;
    margin: 0px 5px;
}

img.menu-icon {
    height: auto;
    width: auto;
}

#products {
    height: 100px;
    width: 600px;
}

.product {
    height: 100px;
    width: 100px;
}