/* General styling for Examples, Getting Started, and API pages */

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.body-content {
    width: 650px;
    margin: auto
}

a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 2px solid black;
    transition-duration: 0.1s;
}

a:hover {
    color: #007bff;
    border-color: #007bff;
    background-color: #007bff11
}

button {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: rgb(230, 228, 228);
}

button:hover {
    background-color: rgb(211, 208, 208);
}

pre {
    margin-bottom: 0px;
    background-color: rgb(241, 241, 241);
    padding-top: 20px;
    width: 100%;
    border-radius: 10px;
}

#script-example {
    margin-bottom: 10px;
    padding-left: 15px;
    padding-bottom: 4px;
    width: 640px;
}

li {
    margin-bottom: 10px;
}

.flex {
    display: flex;
    justify-content: center;
}

.html {
    font-family: monospace;
    font-weight: 600;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    padding: 2px
}

.prop {
    font-family: monospace;
    font-weight: 600;
    font-size: 14px;
}

.val {
    font-family: monospace;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    padding: 2px
}

.default-val {
    font-family: monospace;
    font-size: 14px;
    font-weight: 600;
    background-color: lemonchiffon;
    border-radius: 5px;
    padding: 2px
}

/* From https://medium.com/@mattlistor/highlight-effect-using-css-204ab4590480 */
h1 {
    position: relative;
    display: inline;
}

h1:after {
    background-color: #ffd146;
    content: " ";
    height: 30%;
    position: absolute;
    left: 0;
    margin-left: -1rem;
    top: 60%;
    width: calc(100% + 2.75rem);
    z-index: -1;
}

/* --------------------------------------------------------------------------  */

.leftclearfix {
    clear: left;
}

.float-left {
    float: left;
}

.float-right {
    float: left;
}

.rightclearfix {
    clear: right;
}

.margin-left-40 {
    margin-left: 40px;
}

.divider-20 {
    margin-top: 20px;
}

.divider-40 {
    margin-top: 40px;
}

.divider-60 {
    margin-top: 60px;
}

.divider {
    margin-top: 80px;
}

.divider-100 {
    margin-top: 100px;
}

.small {
    font-size: 12px;
}

.bold {
    font-weight: bold;
}

#library-name {
    font-size: 100px;
}

#header {
    width: 680px;
    margin: auto
}

#header-btns {
    height: 105px;
    width: 380px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.header-btn {
    font-size: 18px;
    font-weight: 700;
    background-color: transparent;
    margin-left: 25px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0px;
    border-bottom: 3px solid black;
    transition-duration: 0.1s;
}

.header-btn:hover {
    color: #007bff;
    cursor: pointer;
    background-color: #007bff11;
    border-color: #007bff;
}

.gradient-bar {
    height: 1px;
    width: 1270px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(201, 201, 201);
}

#angle-btns {
    margin-left: 30px;
}

#cards {
    height: 100px;
    width: 400px;
}

.card-container {
    margin: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(201, 201, 201);
}

.horizontal {
    height: 100px;
    width: 400px;
}

.vertical {
    height: 400px;
    width: 100px;
}

.diagonal {
    height: 400px;
    width: 400px;
}

.card {
    height: 100px;
    width: 100px;
    top: 0px;
    left: 0px;
    vertical-align: middle;
    text-align: center;
    font-weight: 500;
    color: white
}

.captions-card {
    height: 100px;
    width: 100px;
    top: 0px;
    left: 0px;
}

.captions-example {
    width: 550px;
}

#lightbox-example {
    width: 550px;
}

.blue {
    background-color: #007bff;
}

.yellow {
    background-color: #ffc107;
}

.green {
    background-color: #28a745;
}

.red {
    background-color: #e83e4c;
}

.orange {
    background-color: #fd7e14;
}

.outlined-badge {
    padding: 5px 10px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(201, 201, 201);
}

.side-margins {
    margin: 0px 5px
}

#counter {
    margin-top: 55px;
    height: 22px;
}